<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Introduce.md</key>
			<dict>
				<key>lastModification</key>
				<real>530334120.32518601</real>
				<key>version</key>
				<dict>
					<key>94aef8fdf0075cfd4a8f4b45da574cea849d9d1760f64c55daad4c82bc2a5f4d</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>530333741.47743303</real>
				<key>lastModification</key>
				<real>530334083.527821</real>
				<key>version</key>
				<dict>
					<key>94aef8fdf0075cfd4a8f4b45da574cea849d9d1760f64c55daad4c82bc2a5f4d</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>概述.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>530333740.62644303</real>
				<key>lastModification</key>
				<real>530334083.52782202</real>
				<key>version</key>
				<dict>
					<key>94aef8fdf0075cfd4a8f4b45da574cea849d9d1760f64c55daad4c82bc2a5f4d</key>
					<integer>4</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>概述.md</string>
		</array>
		<array>
			<string>Introduce.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>94aef8fdf0075cfd4a8f4b45da574cea849d9d1760f64c55daad4c82bc2a5f4d</key>
			<integer>6</integer>
		</dict>
	</dict>
</dict>
</plist>
